Source: stsbl-iserv-homepage-php-support
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev
Standards-Version: 4.1.3.0
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-homepage

Package: stsbl-iserv-homepage-php-support
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-portal,
  stsbl-iserv-homepage,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: Homepage-Modul für IServ - PHP-Unterstützung
 Dieses Modul enhält die früher im alten Modul IServ Homepages (erweitert) (iserv-hpa) enthaltene und aus dem Homepage-Modul ausgegliederte Unterstützung für die Verwendung von PHP auf ausgewählten Benutzer- und Gruppenhomepages.
 .
 Bei diesem Modul wurde die Sicherheit bei der Verwendung von PHP auf den Benutzer- und Gruppenhomepages verbessert, es sollte daher anstelle des alten Moduls verwendet werden.
 .
 Die Benutzer und Gruppen, die PHP verwenden dürfen, können aus Sicherheitsgründen ausschließlich als root unter iservcfg > config > PHPUsers beziehungsweise PHPGroups eingestellt werden. Über die iservcfg-Weboberfläche ist die aktuelle Einstellung einsehbar, aber nicht änderbar.
Tag: suite::iserv:portal, role::plugin, implemented-in::perl
